@use '../../styles/colors' as *;
@use '../../styles/variables' as *;

#payment-type-dialog {
  .MuiDialog-paper {
    @include sm-down {
      border-radius: 0;
      border: none;
    }
  }

  .dialog-content {
    padding: 20px 24px;
  }

  .dialog-actions {
    padding: 16px 24px;
    gap: 1rem;

    .submit-button {
      min-width: 100px;
    }
  }
}
