@import '../styles/colors';
@import '../styles/variables';

#app-drawer {

  .drawer-paper {
    background: $color-background-darker;
    border-right: 1px solid $color-border;
    margin-top: $header-height;
    height: calc(100vh - $header-height);
    overflow-x: hidden;
    overflow-y: auto;
    transition: width $transition-normal;
    box-sizing: border-box;
  }

  .drawer-content {
    height: 100%;
  }
}
