@use '../../styles/colors' as *;
@use '../../styles/variables' as *;

#confirmation-dialog {

  .dialog-actions {
    .cancel-button {
      padding: 8px 20px;
    }

    .confirm-button {
      padding: 8px 20px;
    }
  }
}
