@use '../../styles/colors' as *;
@use '../../styles/variables' as *;

#confirmation-dialog {
  .dialog-actions {
    @include sm-down {
      padding: 12px 20px 16px;
    }

    .cancel-button {
      padding: 10px 24px;
      border-radius: $border-radius-sm;

      @include sm-down {
        min-width: 80px;
      }
    }

    .confirm-button {
      padding: 10px 24px;
      border-radius: $border-radius-sm;

      @include sm-down {
        min-width: 80px;
      }
    }
  }
}
